.presentacion {
  color: rgb(238, 113, 217);
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.presentacion h1 {
  font-size: 80px;
  font-weight: 700;
}
.presentacion h1 span {
  color: #a03ae4;
}
.presentacion p {
  font-size: 40px;
  font-weight: 600;
  margin: 1px 10px 0;
  color: #d45db0;
}
.presentacion div {
  margin: 100px 50px 0px 200px;
  flex-direction: row;
  align-items: center;
}
.presentacion div a img {
  background-color: white;
  border: solid 2px #ee82ee;
  border-radius: 25%;
  margin-right: 3rem;
  padding: 10px;
}

/* Media queries para pantallas móviles (máximo 768px) */
@media (max-width: 768px) {
  .presentacion {
    margin: 1px;
  }

  .presentacion h1 {
    font-size: 30px; /* Ajustar tamaño de fuente */
    margin-left: 1px;
  }

  .presentacion p {
    font-size: 25px;
    margin-left: 1px;
  }

  .presentacion div {
    margin: 120px 0 0;
  }

  .presentacion div a img {
    margin-right: 1rem;
    padding: 8px;
    width: 40px; /* Ajustar tamaño de los iconos */
    height: 40px;
  }
}

/* Media queries para pantallas más grandes (mínimo 1440px) */
@media (min-width: 1440px) {
  .presentacion {
    margin-right: 120px;
  }

  .presentacion h1 {
    font-size: 100px; /* Aumentar tamaño de fuente */
  }

  .presentacion p {
    font-size: 50px; /* Aumentar tamaño de fuente */
  }

  .presentacion div {
    margin: 120px 50px 0px 250px;
  }

  .presentacion div a img {
    margin-right: 4rem;
    padding: 12px;
    width: 60px; /* Aumentar tamaño de los iconos */
    height: 60px;
  }
}
