span a {
  color: #fff;
}

.container {
  display: flex !important;
  justify-content: left !important;
  align-items: center !important;
  width: 100% !important;
}

.navbar-toggler {
  border: none; /* Elimina cualquier borde */
  outline: none; /* Elimina el borde azul que aparece al hacer clic */
  box-shadow: none; /* Elimina cualquier sombra que pudiera estar apareciendo */
}

.navbar-toggler-icon {
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.letter {
  font-size: 20px !important;
}

.fas.fa-bars {
  font-size: 3.5rem; /* Ajusta el tamaño del ícono, puedes cambiar el valor según lo que necesites */
}
